
.cygnus{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}
.carousel1{
  background: #EEE;

}

.carousel-cell1{
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  width: 100%; 

}
.carousel-cell1 img{
    width: 1200rem;
    height: 20rem;
}


/* cell number */
.carousel-cell1:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.tabulations{
  border: 1px solid black;
 
}



.command {
  float: right;
  display: flex;
  flex-flow: column;
  border: black 1px solid;


}
h3{
color: gold; 
}




.dispo{

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
}