
.listcards{
display: flex;
flex-flow: row wrap;
justify-content: space-between;

}
.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    }


.infos{
border: black solid 1px;


}
