#footer{
    background-color: blue;
    color: white;
   
}
.logo{   
    margin-left:20rem ;
    display: flex;
    flex-flow: row;   
    align-items: center;
    justify-content: center;
}
.logo img{
width: 4rem;
height: 4rem;
margin: 1%;
background-color: white;
border-radius: 100%;
}
.colonne{
    margin-left: 15rem;
    display: flex;
    flex-flow: row;
    align-items: center;

}
.liste{
    display: flex;
    flex-flow: row;
 
    
}
