#footer{
    background-color:blue;
    color: white;
   
}
.logo{   
     display: flex;
    flex-flow: row wrap;   
    align-items: center;
    justify-content: space-evenly;
}
.logo img{
width: 4rem;
height: 4rem;
margin: 1%;
background-color: white;
border-radius: 100%;
}

   .colonne{
       display: flex;
       justify-content: space-between;
   }
.liste{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}
