
 button[name="rouroune"]{
    width: 10rem;
    height: 2rem;
    background-color: lightseagreen;
    color: black;
}
input[name='mail']{
   height: 2rem;
   width: 10rem;

}

#home {
   width: auto;
   height: 20rem;
   display: flex;
   text-align: center;
   align-items: center;
   flex-flow: column;
   color: black;
   background-image: url("../images/541463.jpg");
   background-size: cover;
   padding: 5%;
   background-repeat: none;
   
   
   
}

button[name="create"]{
   width: 20rem;
   height: 10rem;
   background-color: orange !important;
   color:black !important;
   }
