

.formulaire{
    background-color: blue;


 
    
}
.recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.filtre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: black 1px solid;
}